Repository voxpupuli/puppet-logrotate, pull requests merged in 2018-06, with the labels that each got.

#117 (docs) Update readme with warning note and bigger example of defaults
  README.md
Labels: docs

#102 Manage logrotate startup arguments
  README.md
  manifests/cron.pp
  manifests/init.pp
  spec/defines/cron_spec.rb
  templates/etc/cron/logrotate.erb
Labels: enhancement, needs-feedback

#111 Fix freebsd default rules
  manifests/params.pp
Labels: enhancement

#119 release 3.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
