Repository voxpupuli/puppet-logrotate, pull requests merged in 2020-04, with the labels that each got.

#169 Use /usr/sbin/logrotate as $logrotate_bin default value with Gentoo
  manifests/params.pp
Labels: bug

#66 Allowed custom lines to be added to the rules file using the 'custom_…
  manifests/rule.pp
  spec/defines/rule_spec.rb
  templates/etc/logrotate.d/rule.erb
Labels: enhancement

#170 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#171 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
