Repository voxpupuli/puppet-logrotate, pull requests merged in 2023-12, with the labels that each got.

#216 Use default systemd timer for EL9 logrotate
  REFERENCE.md
  data/RedHat/9.yaml
  hiera.yaml
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  spec/defines/conf_spec.rb
  spec/defines/rule_spec.rb
Labels: enhancement

#217 Release 7.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#219 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync
