Repository voxpupuli/puppet-logrotate, pull requests merged in 2024-02, with the labels that each got.

#220 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#221 Support hourly logrotate directory on EL9 again.
  .fixtures.yml
  manifests/hourly.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: bug

#222 Release 7.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
