Repository voxpupuli/puppet-logrotate, pull requests merged in 2025-01, with the labels that each got.

#240 Add Ubuntu 20.04, 22.04, 24.04 support
  data/Ubuntu.yaml
  data/Ubuntu/18.04.yaml
  hiera.yaml
  manifests/params.pp
  metadata.json
  spec/classes/defaults_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#241 Drop EoL Ubuntu 18.04 support
  data/Ubuntu/18.04.yaml
  manifests/params.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#243 Drop EoL CentOS 8 support
  metadata.json
Labels: backwards-incompatible

#242 Drop EoL EL7 support
  metadata.json
Labels: backwards-incompatible

#244 Release 8.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
